@import url("https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold");

.site_bg {
    color: white;
    background-color: #00214e;
}

.site_font {
    color: #00214e;
    font-weight: bold;
}

#menu-toggle {
    visibility: visible;
    color: white;
}

#menu-toggle:hover {
    opacity: 0.7;
}

#navbar-guest:hover {
    opacity: 0.5;
}

.btn.home {
    width: 160px;
    height: 40px;
}

.footer {
    padding: 20px 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

span.required {
    color: red;
}

#fixed {
    color: whitesmoke;
    position: fixed;
    padding: 20px 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.footer.footer-fixed {
    color: whitesmoke;
    position: fixed;
    padding: 20px 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer.footer-fixed {
        color: whitesmoke;
        margin-top: 56px;
        position: relative;
        padding: 20px 0;
        bottom: 0;
        text-align: center;
        overflow: hidden;
        width: 100%;
    }

    #fixed {
        color: whitesmoke;
        margin-top: 56px;
        position: fixed;
        padding: 20px 0;
        bottom: 0;
        text-align: center;
        overflow: hidden;
        width: 100%;
    }
}

.card-header {
    color: white;
    background-color: #00214e;
}

i {
    color: white;
}

i.auth {
    color: #00214e;
    float: right;
}

.fa-clock-o {
    color: #00214e;
}

.applicants a {
    color: #007bff !important;
}

.applicants a:hover {
    color: #00214e !important;
}

.tblSubject a {
    color: #007bff !important;
}

.tblSubject a:hover {
    color: #00214e !important;
}

#register_lorem {
    width: 50%;
}

#home_hr {
    visibility: hidden;
    border-top: 5px solid #00214e;
}

.site_hr {
    border-top: 4px solid #00214e;
}

@media (max-width: 768px) {
    .row > div {
        margin-bottom: 10px;
    }

    #register_lorem {
        width: 100%;
    }

    #home_hr {
        visibility: visible;
    }

    .logo {
        width: 40%;
    }
}

.list-group-item-light {
    color: #495057;
    background-color: #e0e0e0;
}

.side.list-group-item-light.list-group-item-action:focus,
.side.list-group-item-light.list-group-item-action:hover i {
    background-color: #ececf6;
}

.side.list-group-item-light.list-group-item-action.active i {
    background-color: #818182;
    border-color: #818182;
}

.icon-bar {
    position: fixed;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.icon-bar a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.icon-bar {
    position: fixed;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    margin-right: 20px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.chat-frame {
    position: fixed;
    top: 38%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    margin-right: 20px;
}

iframe {
    width: 400px;
    height: 480px;
    border: 0;
    border-radius: 2%;
}

@media (max-width: 768px) {
    iframe {
        width: 320px;
        height: 440px;
        border: 0;
        border-radius: 2%;
    }
}

.response-submit-err {
    border: 3px solid #ff0134;
}

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card[class*="border"] {
    border: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
    font-weight: 400;
}

.card .card-body .card-title a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.card .card-body .card-title a:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.card .card-body .card-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #747373;
}

.card .md-form label {
    font-weight: 300;
}

.navbar {
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

table th {
    font-size: 0.9rem;
    font-weight: 400;
}

table td {
    font-size: 0.9rem;
    font-weight: 300;
}

table.table thead th {
    border-top: none;
}

table.table th,
table.table td {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

table.table .label-table {
    height: 0.94rem;
    padding: 0;
    margin: 0;
    line-height: 0.94rem;
}

table.table.btn-table td {
    vertical-align: middle;
}

table.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

table .th-lg {
    min-width: 9rem;
}

table .th-sm {
    min-width: 6rem;
}

table.table-sm th,
table.table-sm td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.table-scroll-vertical {
    max-height: 300px;
    overflow-y: auto;
}

.table-fixed {
    table-layout: fixed;
}

.table-responsive > .table-bordered,
.table-responsive-sm > .table-bordered,
.table-responsive-md > .table-bordered,
.table-responsive-lg > .table-bordered,
.table-responsive-xl > .table-bordered {
    border-top: 1px solid #dee2e6;
}
